<%

# Convert types ActiveRecord to an array, and sort by it's type
@types = @types.to_a.sort! { |a, b| a.ftype <=> b.ftype }

@buildings = @buildings.to_a.sort! { |a, b| a.name <=> b.name }
#buildings = ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1']
#TODO - Allow scroll instead of extension
%>

<div class='background'>
    <div class="login btn-group">
    <%= link_to("Login/Sign Up", '/user/login.html', class:"btn btn-default") %>
    </div>
    <div class='surrounding'>
        <div class='middleBox boxInfo'></div>
        <div class='boxInfo'>
            <h1 class='header'>Welcome to FaciliRate</h1>
            <br/>
                <%= form_tag("/result/showResult", method: "get") do %>
                <% typeShow = @types.map { |val| val.ftype } %>
                <div class='childLeft'>
                    <div class="dropdown">
                        <%= select_tag(:facility, options_for_select(typeShow)) %>
                    </div>
                </div>

                <% buildingShow = @buildings.map { |val| val.name } %>
                <div class='childRight'>
                    <div class="dropdown">
                        <%= select_tag(:building, options_for_select(buildingShow)) %>
                    </div>
                </div>

                <div class="secondRow">
                    Enter the room number
                    <br>
                    <%= text_field_tag(:room, "", class: "form-control input") %>
                    <br>
                </div>

                <div class="thirdRow">
                    <%= submit_tag("Search", class: "btn btn-default") %>
                </div>
                <% end %>
        </div>
    </div>
</div>
</div>
