<!-- <div class='background'> -->
<div>
    <div class='profileInformation'>
        <div class='return'>
            <%= link_to("Return Home", '/home/index', class:"normalizedLinks btn btn-default selections") %>
        </div>

        <div class='accountHeader'>
            <h1>Account Information</h1>
            <p>
                <label>Email:</label> <%= current_user.email %>
            </p>
            <p>
                <label>Average Rating:</label> <%= current_user.avgRating.round(2) %>/5
                <label>Number of Posts:</label> <%= current_user.numberOfPosts %>
            </p>
            <p>
                <%= link_to("Edit Profile", '/users/edit', class:"btn btn-default normalizedLinks") %>
                <%= link_to("Sign Out", '/users/sign_out', class:"btn btn-default normalizedLinks", method: :delete) %>
            </p>
        </div>

        <hr />

        <br />
        <div class='accountPosts'>
            <h1>Facility Reviews</h1>
            <div >
                <% @args.each do |arg| %>
                    <%= render partial: "layouts/post", locals: {arg: arg, user: current_user.email} %>
                <% end %>
            </div>
        </div>
    </div>
</div>
