<div class='static'>
    &nbsp;
</div>

<div class='return'>
    <%= link_to "Back", :back, class:'btn btn-default button-topright'%>
</div>
<div class='profileInformation'>
    <div class='roomDetails'>
        <h1><%=@building%></h1>
        <p>
            <label>Average Rating:</label> <%=@avgReview%>
        </p>
        <p>
            <label>Room:</label> <%=@room%>
            <label>Facility Type:</label> <%=@facility%>
        </p>
        <%= link_to("Review This Room", '/facility/new', class:"normalizedLinks btn btn-default selections") %>
    </div>
    <hr>

    <div class='roomDetails'>
        <h1>Facility Reviews</h1>
        <div >
            <% if @reviews == nil || @reviews.length == 0 then %>
                <hr />
                <p><label>This room does not currently have a review. Click the button above to add one.</label></p>
            <% else %>
                <% if user_signed_in? %>
                    <% @reviews.each do |review| %>
                        <% username = User.find(review.user_id).email %>
                        <%= render partial: "layouts/post", :object => review, locals: {user: username} %>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
