
<div class='static'>
    &nbsp;
</div>
    <div class='return'>
        <%= link_to("Return Home", '/home/index', class:"btn btn-default button-topright") %>
    </div>
<div class='profileInformation'>
<div class="container-fluid">

<%= render "layouts/searchBar" %>
<hr class='results'>
<%if @finalResult.length>0%>

<div class="row main">
    <table class="table table-hover table-bordered">
    <thead class="thead-dark">
    <tr>
    <th scope="col">Room
     <span class="caret"></span>
    </th>
    <th scope="col">Average Rating
     <span class="caret"></span>
    </th>
    <th scope="col">Building
     <span class="caret"></span>
    </th>
    <th scope="col">Facility Type
     <span class="caret"></span>
    </th>
    </tr>
    </thead>
    <tbody>

    <%@finalResult.each do |val|%>
    <tr class="rowselect" data-roomId= <%=val[4].ids[0]%> >
        <td>
        <%=val[0].join('')%>
        </td>
        <td>
        <%=val[1].join('')%>
        </td>
        <td>
        <%=val[2].join('')%>
        </td>
        <td>
        <%=val[3].join('')%>
        </td>
    </tr>
    <%end%>
    </tbody>
<%else%>
    <h2>
    Sorry no results found
    </h2>
<%end%>
</table>
</div>
</div>
</div>

  <%# $.ajax("/users/render_read");  ajax call need to call appropriate method%>
<script>
    $(".rowselect").click(function() {
        var roomId = $(this).attr('data-roomId');
        console.log("Room selected::"+this.children[0].innerText);
        console.log("Building selected::"+this.children[2].innerText);
        window.location.href = "/room_page/roomInfo"+"?id"+ roomId;
    });
</script>
